/backend/node_modules
/backend/dist
/backend/.env
/backend/public
/frontend/node_modules
/frontend/dist
/frontend/build
/frontend/.env
/frontend/.next

/backoffice/node_modules
/backoffice/dist
/backoffice/.next/
/backoffice/.env


/landingpage/node_modules
/landingpage/.next
/landingpage/.env